[submodule "Micro/vendor/spdlog"]
	path = Micro/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Micro/vendor/glfw"]
	path = Micro/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Micro/vendor/imgui"]
	path = Micro/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Micro/vendor/glm"]
	path = Micro/vendor/glm
	url = https://github.com/g-truc/glm
